body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main_card {
	width: 760px;
	height: 390px;
	margin: 50px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 770px;
	background: #00C9FF;
	background: -webkit-linear-gradient(to right, #fe9292, #00C9FF);
	background: -webkit-gradient(linear, left top, right top, from(#92FE9D), to(#00C9FF));
	background: -webkit-linear-gradient(left, #92FE9D, #00C9FF);
	background: -o-linear-gradient(left, #92FE9D, #00C9FF);
	background: linear-gradient(to right, #9297fe8f, #0014ff);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3);
	box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 90%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	width: 452px;
	height: 390px;
	border-radius: 2px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .year, .genre, .time {
	color: fff;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.PG {
	background: #1f2a8b;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
	        box-shadow: 0 0 50px rgba(0,0,0,0.1);
	-webkit-transition: 300ms ease-in-out;
}

.disc {
	font-weight: 100;
	line-height: 27px;
}
a {
	color: #1f398b;
	display: block;
	text-decoration: none;
}
.social-btn {
	margin-left: -10px;
}
button {
	color: #fff;
	border: none;
	padding: 20px;
	outline: none;
	font-size: 12px;
	margin-top: 30px;
	margin-left: 10px;
	background: #1f2a8b;
	border-radius: 12px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}

button:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

@-webkit-keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  10% {
    transform: scale(1.8);
    -webkit-transform: scale2);
    opacity: 0;
		}
}

@keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  20% {
    transform: scale(1.8);
    -webkit-transform: scale2);
    opacity: 0;
		}
}





/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}





