<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p>IPL CODE OF CONDUCT FOR MATCH OFFICIALS
        AND MATCH OFFICIAL SUPPORT PERSONNEL
        1. DEFINITIONS
        BCCI: The Board of Control for Cricket in India.
        BCCI Chief Executive The person appointed by BCCI from time to time to act as Chief Executive
        Officer: Officer (or his/her designee).
        BCCI Constitution: The Memorandum of Association and Rules and Regulations of the BCCI
        registered on 21st August 2018.
        Code of Conduct: This Code of Conduct as the same may be amended from time to time by BCCI.
        Code of Conduct for
        Players and Team The IPL Code of Conduct for Players and Team Officials as amended from
        Officials: time to time by BCCI.
        Franchisee: An entity which owns and operates a Team.
        IPL Event: Any event or function taking place in relation to the League which is designated
        by BCCI as an official event or function including, without limitation, any opening
        ceremonies/concerts, closing ceremonies, opening dinners, closing dinners,
        press conferences, interviews, press launches, receptions, award dinners or
        ceremonies, promotional events and development clinics.
        League: The Twenty20 cricket league (known at the date of adoption of this Code of
        Conduct as the VIVO Indian Premier League) which has been established by BCCI
        and which shall take place in March/April/May of each year (or such other time
        as may be determined by BCCI).
        Match: Any cricket match in the League including for the avoidance of doubt the PlayOff Matches.
        Match Official: Any Umpire or Match Referee officiating at a Match.
        Ombudsman: The person appointed by BCCI under the BCCI Constitution as Ombudsman from
        time to time to be an independent grievance redressal authority.
        Operational Rules: The operational rules adopted by BCCI relating to the League, as amended by
        BCCI from time to time.
        Play-Off Matches: The matches which take place at the end of the season to determine the winner,
        runner-up, third and fourth placed teams in the League.
        Page 2
        2019 IPL Code of Conduct for Match Officials
        Support Personnel: Any technical officials (for example, and without limitation, any </p>
</body>
</html>